body{
    background-size: cover;
}

.heading{
    font-size: 25px;
    width:100%;
    margin: 0px;


}

#start,#number_obj,#status
{
    font-size: 18px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: blueviolet;
    color:white;
    width: 100%;
    text-align: center;
    line-height: 2;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 50px rgb(0, 255, 170);
}